@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.regular.otf);
}
@font-face {
    font-family: proximanova;
    src: url(/fonts/ProximaNovaFont.otf);
}


.wrapper-content .loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    z-index: 300;
} 

.wrapper-content .loader .container-img-loader {
    width: 200px;
}
.wrapper-content .loader .container-img-loader img {
    position: relative;
    width: 100%;
    height: auto;
}
.wrapper-content .loader .saludo-loader .text-saludo-loader {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'proximanova';
    color: #008000;
}
.wrapper-content .loader .text-bouncing {
    font-family: 'proximanova';
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    margin-top: -20px;
}
.wrapper-content .loader .text-bouncing .text-b {
    padding-left: 10px;
    animation: bouncing 1.5s infinite;
    animation-delay: calc(.1s * var( --i));
    color: #ffff00;
}
.wrapper-content .loader .text-bouncing .text-b:first-child {
    padding-left: 0;
}

@keyframes bouncing {
    0%, 40%, 100% {
        transform: translateY(0);
        
    }
    60% {
        transform: translateY(-10px);
        color: #008000;
    }
}

/* ||SECCIONES Y CUERPO|| */

.titulo {
    margin-top: 30px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.titulo-h1 {
    margin-right: 5px;
}
.oasish2{
    font-size: 2em;
    border: 3px solid #0c0c0c;
}
.linea-titulo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.linea-titulo {
    width: 10%;
    height: 2px;
    background-color: #0c0c0c;
    box-shadow: 0 2px 5px #0c0c0c;
}
#body-secciones {

    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.sec1,
.sec2,
.sec3{
    background-color: #bfbfbf;
    width: 95%;
    height: 350px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px #bfbfbf;
    overflow-x: auto;
}
.sec1 {
    margin-top: 0;
    margin-bottom: 100px;
}
.sec2 {
    margin-bottom: 50px;
}
.tar {
    width: 19.9%;
    height: 98%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    border-right: 5px solid #bfbfbf;
    overflow: hidden;
    min-width: 210px;
    overflow: hidden; 
}
.tar:last-child{
    border-right: 0;
}
.s-img{
    /* background-color: red; */
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.s-img a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s;
}
.s-img a img:hover {
    transform: scale(1.1, 1.1);
    transition: all .5s;
}
.s-info {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.info-nombre,
.info-precio {
    padding-top: 5px;
}
.info-precio {
    color: rgb(0, 165, 0);
}   
.info-nombre {
    max-width: 90%;
}

.destacado{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c0c0c;
    font-size: 1.3em;
    font-family: 'proximanova';
    border-top: 5px solid #efefef;
    border-left: 5px solid #efefef;
    border-right: 5px solid #efefef;
    padding: 0 10px 0 10px;
    transition: all .5s;
    background-color: #efefef;
    
}
.destacado:hover {
    background-color: #fafafa;
    transition: all .5s;
    border-color: #bfbfbf;
}
/* ||FIN SECCIONES Y CUERPO|| */

/* FOOTER */

#footer {
    background-color: #bfbfbf;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    width: 99%;
    height: 100%;
    justify-content: space-evenly;
    font-family: 'proximanova';
}
.f1 {
    width: 20%;
    
}
.texto-seguinos {
    font-size: 1.1em;
    margin-top: 20px;
}
.oasis-ig {

    margin-top: 10px;
}

.link-ig{
    color: #0c0c0c;
    font-size: 1.15em;
}
.link-ig:hover {
    color: #efefef;
}
.texto-ig {
    margin-left: 5px;
    color: #0c0c0c;
    font-size: 1.1em;
}
.oasis-ig .link-ig img {
    width: 13px;
}
.f2 {

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}


.f2-logo {
    margin-top: 20px;
}
.creador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
}

.img-ig {
    width: 13px;
}
.creador a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-ig {
    margin-left: 5px;
}
.copyright {
    margin-bottom: 10px;
    font-size: 1em;
    position: absolute;
    bottom: 0;
}

.f3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.f3 .texto-ubicacion {
    height: 10%;
    font-size: 1.2em;
}
.f2-celu {
    display: none;
}

.contenedor-mascota{
    width: 15%;
    height: 20%;
    position: fixed;
    right: 1%;
    bottom: 2%;
    z-index: 200;
}
.mascota {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    border-radius: 50%;
    border: 1px solid #299201;
    overflow: hidden;
}

.circulo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    transition: all .3s;
}
.circulo:hover img {
    transform: scale(1.1, 1.1);
    transition: all .3s;
}
.cerrar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2px;
    bottom: 66px;
    width: 20px;
    height: 20px;
    font-family: 'proximanova';
    background-color: #ccc;
    border-radius: 50%;
    color: #0c0c0c;
    transition: all .8s;
    opacity: 0;
    z-index: 99;
    cursor: default;
    border: 1px solid #299201;
}
.cerrar:hover {
    background-color: #299201;
    color: #fafafa;
    transition: all .3s;
}
.click-aqui {
    width: 80px;
    height: 80px;
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0.739);
    position: absolute;
    top: 0 ;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;   
    transition: all .3s; 
    border: none;
    font-family: 'proximanova';
    font-weight: 900;
    color: #fafafa;
    transition: all .8s;
}

.click-aqui:hover {
    background-color: #fafafa;
    color: #0c0c0c;
    transition: all .8s;
} 

.dialogo-mascota {
    width: 120px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    font-family: 'proximanova';
    color: #0c0c0c;
    border-radius: 50%;
    bottom: 55px;
    right: 60.1px;
    font-size: .97rem;
    font-weight: 600;
    z-index: 99;
    border: 1px solid #299201;
    opacity: 0;
    transition: all .5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogo {
    padding-left: 18px;
    transition: all .8s;
    cursor: default;
    margin: auto;
    word-wrap: break-word; /* Rompe palabras largas */
}



.punta-dialogo {
    position: absolute;
    bottom: 64px;
    right: 64px;
    width: 24px;
    height: 24px;
    background: rgb(41,146,1);
    background: -moz-linear-gradient(315deg, rgba(41,146,1,1) 50%, rgba(2,0,36,0) 50%);
    background: -webkit-linear-gradient(315deg, rgba(41,146,1,1) 50%, rgba(2,0,36,0) 50%);
    background: linear-gradient(315deg, rgba(41,146,1,1) 50%, rgba(2,0,36,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#299201",endColorstr="#020024",GradientType=1);
    opacity: 0;
    transition: all .5s;
}

/* FIN FOOTER */
